extends layout
include mixins/formulario

block contenido
    h3.text-center.mt-5 
    .card.text-dark.bg-light.mb-3.centrar.shadow-lg(style='max-width: 60rem;')
        .card-header.text-center 
            h3 #{titulo} 
                if movimiento
                    span - #{movimiento.concepto}

        .card-body
            if errores 
                each error in errores 
                   .alert.alert-danger.alert-dismissible.fade.show.shadow.text-center(role='alert')
                        strong #{error.msg}
                        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

            +formulario(movimiento)

                    





