doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{titulo}
    body

    main.container-fluid
        .row 
            section.col-2.border.lateral.shadow-lg

                
                .text-center.mt-2
                    div.d-flex.justify-content-center                        
                        h3 
                            a.home(href='/') Movimientos
                    hr
                    a.btn.btn-primary.shadow-lg(href= '/nuevo' type='button') Crear Nuevo +
                    
                    button.btn.btn-success.mt-3(type='button')
                        | Ingresos 
                        span.badge.bg-light.text-dark #{ingresos} CHF

                    button.btn.btn-danger.mt-3(type='button')
                        | Gastos 
                        span.badge.bg-light.text-dark #{gastos} CHF
                    
                    button.btn.btn-warning.mt-3(type='button')
                        | Total 
                        span.badge.bg-light.text-dark #{total} CHF
                        
            section.col-10
                block contenido





    script(src="js/bootstrap.min.js") 