doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{titulo}
    body

    main.container-fluid
        .row 
            section.col-2.border.lateral.shadow-lg

                
                .text-center.mt-2
                    div.d-flex.justify-content-center                        
                        h3 Movimientos
                    hr
                    a.btn.btn-primary.shadow-lg(href= '/nuevo' type='button') Crear Nuevo +

                        
            section.col-10.border
                block contenido





    script(src="js/bootstrap.min.js") 